.portfolio__dark-mode {
  background-color: #24292f;
  --container-color: red;
  --title-color: rgb(228, 245, 249);
  --text-color: withe;
  --body-color: #24292f;
  --container-color: rgb(6, 169, 233);
  color: var(--title-color);
}

.portfolio__container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}

.portfolio__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.portfolio__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.portfolio__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.portfolio__group {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.portfolio__data {
  display: flex;
  column-gap: 0.5rem;
}
/* 
.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}
.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
} */

.portfolio__level {
  font-size: var(--tiny-font-size);
  display: grid;
}

.div-skills {
  justify-content: baseline;
}

.p-arrow {
  font-size: 16px;
  text-align: center;
}

.div-button-allProjects {
  display: grid;
  align-items: center;
  width: 5rem;
  align-content: center;
}

.qwe {
  display: flex;
  align-content: center;
  margin-top: -1rem;
}

.button-projects {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-color);
  color: var(--body-color);
}

.a-link {
  display: flex;
  justify-content: center;
}

.home__social-icon {
  color: white;
  margin-top: 2rem;
}

.boxicon-check {
  width: 2rem;
  height: 2rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .portfolio__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* For medium devices */
@media screen and (max-width: 576px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
  .portfolio__content {
    padding: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .portfolio__box {
    column-gap: 1.25rem;
  }

  .skills__name {
    font-size: var(--small-font-size);
  }

  .button-projects {
    font-size: var(--small-font-size);
    width: auto;
  }
}
