/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: rgb(6, 169, 233);
  /* --title-color-dark: hsl(var(--hue), var(--sat), 50%); */
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;
  --container-color-button: #fff;
  /* dark mode */
  --dark-body: #24292f;
  --lit-body: #020d23;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 2.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.dark-mode {
  --title-color: rgb(228, 245, 249);
  --text-color: withe;
  --body-color: #24292f;
  --container-color: rgb(6, 169, 233);
  --lit-body: #f7f8fa;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== CHANGES ===============*/

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}

/* ====== icons svg ======== */
.boxicon-ligth {
  filter: invert(100%);
  fill: var(--container-color-button);
}
.boxicon-ligth:hover {
  filter: invert(1%);
  fill: var(--title-color-dark);
}
.boxicon-ligth-static {
  filter: invert(5%);
  fill: var(--lit-body);
}
.boxicon-mouse {
  filter: invert(40%);
  fill: var(--dark-body);
}
.boxicon-check {
  fill: var(--title-color);
  width: 1.3rem;
  height: 1.3rem;
}
.boxicon-mail {
  fill: var(--title-color);
  width: 2.1rem;
  height: 2.1rem;
}
.boxicon-social-fooder {
  fill: var(--container-color);
}
.boxicon-arrow-up {
  margin-top: 5px;
  fill: var(--container-color);
}

.cross-navbar {
  /* margin-top: 5px; */
  width: 2rem;
  height: 2rem;
  margin-bottom: 8px;
}
/* Change background header */

/*=============== BUTTON ===============*/
.left-side {
  display: flex;
}

.button-div {
  display: flex;
  align-items: center;
  align-content: center;
  align-items: center;
}

/*=============== BUTTON ===============*/

/*=============== CHANGES ===============*/

.dark-button-day {
  background-color: rgb(224, 224, 237);
  /* margin-left: rem; */

  height: 1.6rem;
  width: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25rem;
}
.button-bw-day {
  background-color: var(--title-color);
  height: 1.5rem;
  width: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25rem;
}
.button-bw-night {
  background-color: rgb(226, 183, 20);
  height: 1.5rem;
  width: 2rem;
  margin-left: 1.9rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25rem;
}

.testing {
  display: flex;
}

.button-bw-day:hover {
  background-color: var(--title-color-dark);
}
.button-bw-night:hover {
  background-color: var(--dark-body);
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}
/*=============== BUTTON DANK MODE ===============*/

.button-dark-mode {
  display: flex;
  margin-left: 1rem;
  gap: 0.5rem;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color-button);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
  color: var(--container-color);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
.moon-and-soon {
  color: red;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
  /* ultimate */

  .header {
    top: initial;
    bottom: 0;
  }
  .nav {
    height: var(--header-height);
  }
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .show-menu {
    bottom: 0;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }

  .nav__close:hover {
    color: var(--title-color-dark);
  }

  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
  }

  /* ultimate */
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
}
